<a href="https://colab.research.google.com/github/rizwannitk/machinelearning/blob/main/anvil2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
pip install anvil-uplink

Collecting anvil-uplink
  Downloading https://files.pythonhosted.org/packages/a1/e7/4eb5859dd68eab5baf07e91e38eebd0fa7fa87aef4f2ebc5ca00490c8bbc/anvil_uplink-0.3.34-py2.py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 4.1MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from anvil-uplink) (0.16.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from anvil-uplink) (1.15.0)
Collecting argparse
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Collecting ws4py
  Downloading https://files.pythonhosted.org/packages/53/20/4019a739b2eefe9282d3822ef6a225250af964b117356971bd55e274193c/ws4py-0.5.1.tar.gz (51kB)
     |████████████████████████████████| 61kB 5.1MB/s
Building wheels for collected packages: ws4py
  Building wheel for ws4py (setup.py) ... done
  Created wheel for ws4py: filename=ws4py-0.5.1-cp36-none-any.whl size=45216 sha256=f2e1ff8e68c43f7eb70ece9ec085b423b48ab7bad15f915235ead223e330f90d
  Stored in directory: /root/.cache/pip/wheels/a2/6e/4e/8b0ae12fb9b8a05715256952cf7609a8ab86285fab99b88c68
Successfully built ws4py
Installing collected packages: argparse, ws4py, anvil-uplink
Successfully installed anvil-uplink-0.3.34 argparse-1.4.0 ws4py-0.5.1

In [61]:
import pandas as pd

In [67]:
df=pd.read_csv('https://raw.githubusercontent.com/rizwannitk/Car-Price-Prediction/master/car%20data.csv')

In [68]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [69]:
final_dataset=df[['Year','Selling_Price','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']]

In [70]:
final_dataset['Current Year']=2020

In [71]:
final_dataset['no_year']=final_dataset['Current Year']- final_dataset['Year']

In [72]:
final_dataset.drop(['Year'],axis=1,inplace=True)

In [73]:
final_dataset=pd.get_dummies(final_dataset,drop_first=True)

In [74]:
final_dataset=final_dataset.drop(['Current Year'],axis=1)

In [75]:
X=final_dataset.iloc[:,1:]
y=final_dataset.iloc[:,0]

In [76]:
X.head()

   Present_Price  Kms_Driven  ...  Seller_Type_Individual  Transmission_Manual
0           5.59       27000  ...                       0                    1
1           9.54       43000  ...                       0                    1
2           9.85        6900  ...                       0                    1
3           4.15        5200  ...                       0                    1
4           6.87       42450  ...                       0                    1

[5 rows x 8 columns]

In [77]:
from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(X,y)

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=None, oob_score=False,
                    random_state=None, verbose=0, warm_start=False)

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [79]:
from sklearn.ensemble import RandomForestRegressor

In [80]:
regressor=RandomForestRegressor()

In [81]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
print(n_estimators)

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]

In [86]:

from sklearn.model_selection import RandomizedSearchCV

In [82]:
#Randomized Search CV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

In [83]:
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10]}

In [84]:
rf = RandomForestRegressor()

In [87]:
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)

In [ ]:

rf_random.fit(X_train,y_train)

In [89]:
predictions=rf_random.predict(X_test)

In [91]:
X_train.head()

     Present_Price  Kms_Driven  ...  Seller_Type_Individual  Transmission_Manual
222           7.60       77632  ...                       0                    1
283          11.80        9010  ...                       0                    1
44            2.69       50000  ...                       0                    1
245           9.40       71000  ...                       0                    1
191           0.57       25000  ...                       1                    1

[5 rows x 8 columns]

In [94]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [ ]:
#def predict_car(sepal_length, sepal_width, petal_length, petal_width):
#  price = predict[[7.60,77632,0,6,1,0,0,1]])
 # print(iris.target_names[classification][0])
  #return iris.target_names[classification][0]

In [103]:
#

     Present_Price  Kms_Driven  ...  Seller_Type_Individual  Transmission_Manual
223            9.4       61381  ...                       0                    1

[1 rows x 8 columns]

In [106]:
#predictions=rf_random.predict([[7.60,77632,0,6,1,0,0,1]])
#print(predictions)

[6.44682]

In [117]:
def predict_car(Present_Price, Kms_Driven, Owner, no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual):
  predictions=rf_random.predict([[Present_Price, Kms_Driven, Owner, no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual]])
  print(predictions)
  return(predictions)